.aboutSection {
    display: flex;
    flex-direction: column;
    padding: 20px 15%;
    /* text-align: justify; */
    font-size: 14pt;
    color: #000000;
    font-family: 'Open Sans', sans-serif;

}
.rowOne {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    padding: 10px;
}
.rowOneOne {
    flex: 30%;
}
.rowOneOne img {
    height: 90%;
    width: 100%;
    object-fit: contain;
}
.rowOneTwo {
    flex: 70%;
}

.stackSection {
    padding: 0 15%;
    padding-top: 20px;
}
.heading {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
.heading h3 {
    color: #1352BF;
}
.hrDiv {
    width: 10%;
    text-align: left;

}
.hrDiv hr {
    border: 1px solid #1352BF;
    padding: 0;
    margin: 0;
}

.stackList {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 20px;
}

.stackCard {
    padding: 5px 15px;
    width: 45%;
    /* background-color: #ffffff;
    margin: auto;
    padding: 2em; */
    border-radius: 7px;
    border: 1px solid #ffffff30;
    /* text-shadow: 0 0 1em #ffffff7b; */
    background-color: #ffffff30;
    /* opacity: 0.5; */
    backdrop-filter: blur(20px);
    /* transform: perspective(500px); */
    transform-style: preserve-3d;
    /* opacity: 0.8; */
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    color: #ffffff;
}
.stackCard:hover {
    color: #FDB035;
}

@media (max-width: 899px) {
    .aboutSection {
        padding: 0 5%;
        gap: 10px;
    }

    .stackSection {
        padding: 0 5%;
    }

    .rowOne {
        flex-direction: column;
        padding: 0;
    }
    .rowOneOne {
        flex: 100%;
    }
    .rowOneOne img {
        width: 100%;
        aspect-ratio: 1 / 1;
    }
    .rowOneTwo {
        flex: 100%;
    }
}