.heroSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.mainSection {
    display: flex;
    height: 60vh;
    margin-top: 50px;
}

.columnOne {
    flex: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.columnTwo {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start ;
}

.columnTwo img {
    width: 80%;
    height: 100%;
}

.heroButtonGroup {
    display: flex;
    gap: 20px;
}

h2 {
    margin: 0;
    margin-bottom: 10px;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.logos img {
    width:  calc(90%/6);
    aspect-ratio: 2 / 1;
    object-fit: contain;
}

.review {
    width: 50%;
    margin: 0 auto;
}

h2 span {
    color: #003297;
    /* animation-delay: 0s; */
}

@media (max-width: 767px) {
    .mainSection {
        flex-direction: column;
        height: fit-content;
        margin-top: 90px;
    }
    .columnOne {
        justify-content: center;
        align-items: flex-start ;
        padding: 0 10%;
    }
    .logos img {
        width:  calc(90%/3);
    }
    
    }