.portfolioSection {
    background-color: #E5E5E5; 
    padding: 0 50px 50px 50px;
}

.portfolioSectionSpace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portfolioSectionSpace h5 {
    margin: 0;
    color: #1352BF;
}

.portfolioSectionSpace h2 {
    margin: 0;
    color: #FDB035;
}
