.portfolioSection {
    background-image: url('/public/codeBox.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;  
    background-position-y: 20%;  
    padding: 150px 50px;
}

h2, h4 {
    margin: 0;
}

.portfolioSectionSpace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}