.containerBg {
    background-color: #000000;
}
.testimonial {
    background: linear-gradient(112deg, #FDB035 50%, #1352BF 50%);
    /* width: calc(100% - 100px); */
    word-wrap: break-word;
    /* margin: auto; */
    height: 300px;
    /* aspect-ratio: 2 / 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}
.carousel {
    width: 80%;;
}

.testimonial p {
    color: #ffffff;
    font-style: italic;
    word-wrap: break-word;
}


.testimonial a:hover {
    opacity: 0.75;
}

.name p, .name h3{
    margin: 0;
    padding: 0;
    font-style: normal;
}

.testimonialSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding-top: 50px;
}
.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.testimonialSection h5 {
    margin: 0;
    color: #1352BF;
}

.testimonialSection h2 {
    margin: 0;
    color: #FDB035;
}