h2, h3, h4, h5 {
    margin: 0;
}

.servicesSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
}

.serviceBoxContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.servicesSectionBg {
    background-color: #ffffff;
}
.icon {
    font-size: 60px;
    /* padding-top: 50px */
}

.titleGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* CARD */
.projectCard {
    position: relative;
    height: 30vh;
    width: calc(90%/3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5); */
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; */
    background-color:#FDB035;
  }

  .face {
    color: #ffffff;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin: 15px;
  }

  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.servicesSection h5 {
    margin: 0;
    color: #1352BF;
}

.servicesSection h2 {
    margin: 0;
    color: #FDB035;
}

.servicesSection h3 {
    margin: 0;
    font-size: 16pt;;
}

@media (max-width: 767px) {
.serviceBoxContainer {
  flex-direction: column;
}

.projectCard {
  width: 90%;
}

}

