h2, h3, h4 {
    margin: 0;
}

.servicesSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
}

.serviceBoxContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.hr {
    border: 1px solid blue;
    width: 40%;
}

.icon {
    font-size: 60px;
    padding-top: 50px
}

.titleGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* CARD */
.projectCard {
    position: relative;
    height: 30vh;
    width: calc(90%/3);
    background-color: #242424;
    border-radius: 5px;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
  }

  .face {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: start; */
    color: #ffffff;
    /* align-items: center; */
    gap: 20px;
    text-align: center;
  }
  .face1 {
    box-sizing: border-box;
    padding: 20px;
  }
  h2 {
    margin: 0;
    padding: 0;
  }
  
  .face2 {
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  /* h2 {
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: #fff;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
  } */
  
  .projectCard:hover .face.face2 {
    height: max-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    /* color: #000000; */
  }

  .projectCard:hover .icon {
    font-size: 30px;
    padding-top: 0;
    display: none;
}
  h2 {
    /* font-size: 2em; */
  }
  
  .face.face2 {
    background-color:#003297;
    border-radius: 5px;
  }

@media (max-width: 767px) {
.serviceBoxContainer {
  flex-direction: column;
}

.projectCard {
  width: 90%;
}

}