/* @media (max-width: 576px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
} */

@media (max-width: 767px) {
  .container {
    /* max-width: 720px; */
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
    margin: 0 auto;
  }
}

.spacer {
  margin-top: 50px;
  /* border: 1px solid #00094B; */
}

.btn {
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 11pt;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.primary-btn {
  background-color:#FDB035;
  color: white;
  border: none;
}

.secondary-btn {
  background-color:#1352bf00;
  color: #003297;
  border: 1px solid #003297;
}

.primary-btn:hover {
  background-color:#1352BF;
  color: #ffffff;
  border: none;
}

.secondary-btn:hover {
  background-color:#FDB035;
  color: #ffffff;
  border: 1px solid #003297;
}
