.header {
    height: 40vh;
    width: 100%;
    /* padding: 150px 50px; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 73px;
    }

.headerImg {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #000000;
    opacity: 0.85;
}

.titleBox {
    z-index: 2;
    text-align: center;
    color: #ffffff;
}

.titleBox h2 {
    text-transform: Uppercase;
    color: #ffffff;
}
.titleBox p {
    color: #ffffff;
}