.container {
    /* border-right: 1px solid #1352BF;
    border-left: 1px solid #1352BF; */
    height: fit-content;
    /* margin: 0 20%; */
    padding: 20px 0;
}
.mainContainer {
    height: 100%;
    /* border-top: 2px dashed #1352BF;
    border-bottom: 2px dashed #1352BF; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* gap: 20px; */
}
.colOne {
    flex: 50%;
    height: 100%;
    width: calc(100% - 5px);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border-right: 1px solid red; */
}

.colTwo {
    flex: 50%;
    height: calc(100% - 40px);
    /* padding-top: 20px; */
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* background-color: red; */
}

hr {
    margin: 0;
    padding: 0;
    border: 1px solid #1352BF;
}
.miniBox {
    height: 40px;
    border-right: 1px solid #1352BF;
    border-left: 1px solid #1352BF;
    /* margin: 0 20%; */

}
.heading {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}
.arrow {
    color: #FDB035;
}
.arrow:hover {
    color: #1352BF;
}
.hrDiv {
    width: 15%;
    padding-top: 10px;
}
.hrDiv hr {
    border: 1px solid #1352BF;
    padding: 0;
    margin: 0;
}
/* .arrow {
    width: 140px;
} */
.headerImg {
    height: 100%;
    width: 100%;
    /* aspect-ratio: 1 / 1; */
    object-fit: contain;
}

@media (max-width: 899px) {
    .mainContainer {
        flex-wrap: wrap;
        /* gap: 20px; */
    }
    /* .mainContainer:nth-child(2) {
       flex-direction: column-reverse; 
    } */
}